* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-rows: 8vh 1fr;

  width: 100%;
  min-height: 100vh;
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 2vh 16px;

  background-color: hsl(195, 53%, 95%);
}

.notification {
  /* border: 2px solid;
  border-radius: 4px; */

  padding: 8px 16px;
  margin: 16px 0;

  text-align: center;
}

.info-error {
  color: firebrick;
}

.info-success {
  color: darkolivegreen;
}

button {
  padding: 4px 8px;

  font-size: 1.1rem;

  &:hover {
    cursor: pointer;
  }
}

.button-filled {
  background-color: rgb(203, 225, 233);
  border: 1px black solid;

  &:hover {
    background-color: lightblue;
  }
}

.button-outline {
  border: 1px solid black;
  background-color: transparent;

  &:hover {
    box-shadow: -2px 2px 4px lightblue;
  }
}
