* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 100px;
}

table {
  width: 90%;
  max-width: 800px;

  margin: 32px 0;

  border-collapse: collapse;
  border: 1px solid black;

  thead th {
    border: 1px solid black;

    padding: 16px;
  }

  tbody td {
    border: 1px solid black;
    padding: 8px;

    text-align: center;
  }
}
