* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 100px;
}

table {
  width: 90%;
  max-width: 800px;

  margin: 32px 0;

  border-collapse: collapse;
  border: 1px solid black;

  thead th {
    border: 1px solid black;

    padding: 16px;
  }

  tbody tr:nth-child(odd) {
    background-color: blanchedalmond;
  }

  tbody td {
    border: 1px solid black;
    padding: 8px;

    text-align: center;
  }
}

button {
  padding: 4px 8px;

  border: 1px solid black;
  border-radius: 4px;

  z-index: 5;

  &:hover {
    cursor: pointer;
  }

  &.edit-button {
    background-color: rgba(173, 216, 230, 0.523);

    &:hover {
      background-color: rgba(173, 216, 230, 0.723);
    }
  }

  &.delete-button {
    background-color: rgba(255, 160, 122, 0.442);

    &:hover {
      background-color: rgba(255, 160, 122, 0.642);
    }
  }
}
